##########################################################
# @date: 21/03/2013                                      #
##########################################################

RewriteEngine On
#RewriteBase

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?/$1 [L]

RewriteCond %{HTTP_HOST} ^([0-9a-z]+\.co(m|\.uk)) [NC]
RewriteRule (.*) http://www.%1/$1 [R=301,L,NC]


